@import "../../config/styles/variables.scss";

.Carousel {
  padding-bottom: 6px;
  margin-bottom: -15px;
  width: 100%;
  &__swiper {
    width: 100%;
  }
  &__stepper {
    width: 100%;
  }
  &__button {
    padding-bottom: 0;
  }
}
