@import "../../../config/styles/variables.scss";
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono&display=swap");
.CodeInput {
  input {
    height: 36px;
    padding: 14px 10px;
    font-size: 24px;
    text-align: center;
    letter-spacing: 20px;
    text-transform: uppercase;
    font-family: "IBM Plex Mono", SFMono-Regular, Menlo, Monaco, Consolas,
      "Liberation Mono", "Courier New", monospace;
  }
}
