@import "../../../config/styles/variables.scss";

.Footer {
  height: 58px;
  padding: 20px 0;
  background: $color-bg-light;
  p {
    margin: 0;
  }
  &__link {
    padding: 0 9px;
    font-size: 13px;
    color: $color-text;
    svg {
      width: 24px;
      vertical-align: middle;
    }
  }
}
