@import "../../config/styles/variables.scss";
.ReviewAndConfirm {
  margin-top: 10px;
  &__profile {
    margin-bottom: -5px;
    padding-right: 10px;
    text-align: right;
  }
  &__profile_option {
    padding: 10px 20px;
    font-size: $font-size-text--sm;
    p {
      margin-bottom: 5px;
    }
  }
  &__checkbox_label {
    margin-right: 0;
  }
  &__paper {
    width: 100%;
    margin-top: 15px;
  }
}
