.NetworkMarquee {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #1a587e;
  &__heading {
    max-width: 240px;
    margin-top: 0;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
    line-height: 32px;
    color: white;
    text-align: center;
  }
  &__logo {
    display: block;
    height: auto;
    &__src {
      width: 52px;
      height: 33px;
    }
    &__discover {
      width: 55px;
      height: 36px;
    }
  }
}
