// Core Colors
$color-primary: #ff6000;
$color-primary-contrast: #fff;
$color-secondary: #1e71ac;
$color-secondary-contrast: #fff;
$color-accent: #041e42;
$color-text: #293033;
$color-muted: #63686b;
$color-border: #dbdbdb;
$color-success: #008a25;
$color-error: #eb0000;
$color-none: transparent;

// Background Colors
$color-bg-primary: #fff;
$color-bg-light: #f2f2f2;
$color-bg-highlight: #e7f4f9;
$color-bg-frame: #efefef;

//visual
$border-radius-default: 1px;

// Text
$color-body: $color-text;
$color-heading: $color-primary;
$color-link: #2477ab;

// Fonts
//------------------------------------
$font-size-text: 15px;
$font-size-text--lg: 24px;
$font-size-text--sm: 13px;

$font-line-height: 22px;
$font-line-height-header: 32px;
$font-line-height--sm: 18px;

$font-family-normal: "Meta Web Normal", Arial, sans-serif;
$font-family-bold: "Meta Web Bold", Arial, sans-serif;
$font-family-medium: "Meta Web Medium", Arial, sans-serif;
$font-family-light: "Meta Web Light", Arial, sans-serif;

$text-transform-caps: capitalize;
$font-weight--strong: normal;

//Headers
$h1-font-size: $font-size-text--lg;
$h1-margin: 30px 0 10px;

// Buttons
$btn-padding--bg: 12px;
$btn-padding--sm: 6px 10px;
$btn-marginBottom--bg: 18px;
$btn-marginBottom--sm: 40px;

$btn-font-size--bg: 19px;
$btn-font-size--sm: $font-size-text--sm;
$btn-lineHeight--bg: 1.3;
$btn-border-radius: 0px;

$color-btn--bg: $color-primary;
$color-btn-text: $color-primary-contrast;
$color-btn-border: $color-primary;
$color-btn-secondary--bg: $color-bg-primary;
$color-btn-secondary-text: $color-primary;
$color-btn-secondary-border: $color-primary;
$color-btn-link--bg: $color-none;
$color-btn-link-text: $color-link;
$color-btn-link-border: $color-none;

//Link
$link-line-height: inherit;
$link-fontSize: inherit;

// Typogrpahy
$paragraph-margin: 0 0 10px 0;

//Card
$card-padding: 0 15px 15px 8px;
$card-padding--header: 0;
$card-padding--content: 0;
$card-paddingBottom--content: 0;

//Input
$input-label-marginTop--shrink: -2px;
$input-formControl-marginTop: 0;
$input-height: 22px;
$input-backgroundColor: transparent;
$input-borderWidth: 1px;
$input-borderStyle: solid;
$input-marginTop: 0;
$inputBefore-display: none;
$inputAfter-display: none;
$input-background--hover: transparent !important;
$input-backgroundColor--focused: transparent;
$input-boxShadow--focused: 0 0 4px 1px rgba(76, 165, 221, 0.39);
$input-border--focused: solid 1px #4ca5dd;

$input-backgroundColor--filled: "transparent !important";
$input-paddingTop--filled: 22px;
$input-paddingBottom--filled: 6px;

$select-paddingTop: 22px;
$select-paddingBottom: 10px;
$select-paddingLeft: 11px;
$select-marginTop: 0;
$select-backgroundColor--focus: transparent;

//LIST ITEM
$listItem-borderBottom: 1px solid $color-border;
$listItem-minHeight: 0;
$listItem-borderBottom--last: none;

// HELPER TEXT
$helperText-marginLeft--contained: 0;

// Shadows
$shadow-one: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
$shadow-two: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
$shadow-tooltip: 0 0 4px 0 rgba(0, 0, 0, 0.3);

// Layout
//------------------------------------
$container-gutter: 20px;
$gutter-margin: 10px;

// Export is used by a React JS file so that these style variables can
// be used directly in the application AND in any scss files, while
// only needing to maintain and declare variables in one file.
:export {
  // Core
  COLOR_PRIMARY: $color-primary;
  COLOR_PRIMARY_CONTRAST: $color-primary-contrast;
  COLOR_SECONDARY: $color-secondary;
  COLOR_SECONDARY_CONTRAST: $color-secondary-contrast;
  COLOR_TEXT: $color-text;
  COLOR_BORDER: $color-border;
  COLOR_MUTED: $color-muted;
  COLOR_BORDER: $color-border;
  COLOR_SUCCESS: $color-success;
  COLOR_ERROR: $color-error;
  COLOR_NONE: $color-none;
  //Background
  COLOR_BG_PRIMARY: $color-bg-primary;
  COLOR_BG_LIGHT: $color-bg-light;
  COLOR_BG_HIGHLIGHT: $color-bg-highlight;
  COLOR_BG_FRAME: $color-bg-frame;
  // Text
  COLOR_BODY: $color-body;
  COLOR_HEADING: $color-heading;
  COLOR_LINK: $color-link;

  TEXT_TRANSFORM_CAPS: $text-transform-caps;
  BORDER_RADIUS_DEFAULT: $border-radius-default;

  FONT_SIZE_TEXT: $font-size-text;
  FONT_SIZE_TEXT_SM: $font-size-text--sm;
  FONT_LINE_HEIGHT: $font-line-height;
  FONT_LINE_HEIGHT_SM: $font-line-height--sm;
  FONT_WEIGHT_STRONG: $font-weight--strong;

  FONT_FAMILY_NORMAL: $font-family-normal;
  FONT_FAMILY_BOLD: $font-family-bold;
  FONT_FAMILY_MEDIUM: $font-family-medium;
  FONT_FAMILY_LIGHT: $font-family-light;

  // Headings
  HEADING_MARGIN: $h1-margin;
  HEADING_FONT_SIZE: $h1-font-size;
  HEADING_LINE_HEIGHT: $font-line-height-header;

  // PARAGRAPH
  PARAGRAPH_MARGIN: $paragraph-margin;

  //LINKS
  LINK_LINE_HEIGHT: $link-line-height;
  LINK_FONTSIZE: $link-fontSize;

  // Buttons
  BTN_PADDING_BG: $btn-padding--bg;
  BTN_PADDING_SM: $btn-padding--sm;
  BTN_BORDER_RADIUS: $btn-border-radius;
  BTN_MARGINBOTTOM_BG: $btn-marginBottom--bg;
  BTN_MARGINBOTTOM_SM: $btn-marginBottom--sm;
  BTN_FONT_SIZE_BG: $btn-font-size--bg;
  BTN_FONT_SIZE_SM: $btn-font-size--sm;
  BTN_LINEHEIGHT_BG: $btn-lineHeight--bg;

  //CARD
  CARD_PADDING: $card-padding;
  CARD_PADDING_HEADER: $card-padding--header;
  CARD_PADDING__CONTENT: $card-padding--content;
  CARD_PADDINGBOTTOM__CONTENT: $card-paddingBottom--content;

  //INPUT
  INPUT_LABEL_MARGINTOP__SHRINK: $input-label-marginTop--shrink;
  INPUT_FORMCONTROL_MARGINTOP: $input-formControl-marginTop;
  INPUT_HEIGHT: $input-height;
  INPUT_BACKGROUNDCOLOR: $input-backgroundColor;
  INPUT_BORDERWIDTH: $input-borderWidth;
  INPUT_BORDERSTYLE: $input-borderStyle;
  INPUT_MARGINTOP: $input-marginTop;
  INPUTBEFORE_DISPLAY: $inputBefore-display;
  INPUTAFTER_DISPLAY: $inputAfter-display;
  INPUT_BACKGROUND__HOVER: $input-background--hover;
  INPUT_BACKGROUNDCOLOR__FOCUSED: $input-backgroundColor--focused;
  INPUT_BOXSHADOW__FOCUSED: $input-boxShadow--focused;
  INPUT_BOARDER__FOCUSED: $input-border--focused;

  INPUT_BACKGROUNDCOLOR__FILLED: $input-backgroundColor--filled;
  INPUT_PADDINGTOP__FILLED: $input-paddingTop--filled;
  INPUT_PADDINGBOTTOM__FILLED: $input-paddingBottom--filled;

  SELECT_PADDINGTOP: $select-paddingTop;
  SELECT_PADDINGBOTTOM: $select-paddingBottom;
  SELECT_PADDINGLEFT: $select-paddingLeft;
  SELECT_MARGINTOP: $select-marginTop;
  SELECT_BACKGROUNDCOLOR__FOCUS: $select-backgroundColor--focus;

  //LIST ITEM
  LISTITEM_BORDERBOTTOM: $listItem-borderBottom;
  LISTITEM_MINHEIGHT: $listItem-minHeight;
  LISTITEM_BORDERBOTTOM__LAST: $listItem-borderBottom--last;

  // HELPER TEXT
  HELPERTEXT_MARGINLEFT__CONTAINED: $helperText-marginLeft--contained;

  // SHADOWS
  SHADOW_ONE: $shadow-one;
  SHADOW_TWO: $shadow-two;
  SHADOW_TOOLTIP: $shadow-tooltip;

  // Layout
  //------------------------------------
  CONTAINER_GUTTER: $container-gutter;
  GUTTER_MARGIN: $gutter-margin;
}
